body{
	background-image: url("../images/background.png");
}

.main{
	background:white;
	margin-top:75px;
}

.thumbnail{
	max-width:100%;
	height:auto;
}

h1,
h2{
	color:#4aaaa5;
}

.connectBox{
	margin-top:75px;
	margin-bottom:80px;
}

.icons{
	width:60px;
	height:60px;
}

footer{
	background:#666666;
	outline-color:orange;
	text-align:center;
	padding-bottom:20px;
	color:white;
}

